@import url(https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
body,
ul,
input,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

.section {
  padding: 94px 0;
}

.cursor {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.header-page {
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  padding: 32px 0;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  padding: 32px 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}

.nav-backlight {
  color: #2196f3;
  position: relative;
}

.nav-backlight::after {
  content: '';
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: absolute;
  margin-bottom: 1px;
  bottom: 0;
  left: 0;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover, .contacts-link:focus {
  color: #2196f3;
}

.icon-header {
  fill: currentColor;
  margin-right: 10px;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
  color: #fff;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address {
  margin-top: 20px;
  font-style: normal;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-item:not(:first-child) {
  margin-top: 9px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:focus {
  color: #2196f3;
}

.socials-section {
  margin-left: 70px;
}

.socials-title {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-item:not(:first-child) {
  margin-left: 10px;
}

.socials-link {
  background: rgba(255, 255, 255, 0.1);
  fill: #fff;
  color: #000;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover, .socials-link:focus {
  background-color: #2196f3;
}

.join {
  margin-left: 94px;
}

.join-slogan {
  color: currentColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.join-input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: currentColor;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  background: #2f303a;
}

.join-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  color: currentColor;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  background: #2196f3;
}

.join-btn-icon {
  margin-left: 10px;
}

.logo {
  color: #000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
}

.header-logo {
  margin-right: 93px;
}

.logo-highlighted {
  color: #2196f3;
}

.footer-logo {
  color: #fff;
}

.hero-section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg1.1.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg1.1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 32px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  background: #2196f3;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: "Roboto", sans-serif;
}

.peculiarity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.peculiarity-item:not(:last-child) {
  margin-right: 30px;
}

.peculiarity-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.peculiarity-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.peculiarity-text {
  color: #757575;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.works-section {
  padding-top: 0;
}

.works-title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-item {
  position: relative;
  opacity: 1;
}

.works-item::before {
  display: inline-block;
  height: 70px;
  width: 100%;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(47, 48, 58, 0.8);
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

.works-text {
  position: absolute;
  bottom: 0;
  padding: 27px 82px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

.team-section {
  background-color: #f5f4fa;
}

.team-section-title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-desc {
  padding: 30px 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-desc-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-desc-text {
  margin-bottom: 16px;
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  color: #afb1b8;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  color: #fff;
  background-color: #2196f3;
}

.icon-social {
  fill: currentColor;
}

.customers-title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  letter-spacing: 0.03em;
  text-align: center;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customers-item {
  width: 170px;
  height: 92px;
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

.customers-item .customers-link {
  color: #000;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item .customers-link:hover, .customers-item .customers-link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 4px;
  border: 0px;
  background: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover, .filter-btn:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.projects-item {
  margin: 30px 0 0 30px;
}

.projects > .projects-item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
}

.projects-link {
  display: block;
  background: #ffffff;
}

.projects-link:hover, .projects-link:focus {
  display: inline-block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 64px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.projects-link:hover .overlay,
.projects-link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-text {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.projects-desc {
  padding: 20px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.projects-title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-text {
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 31px;
  height: 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #2196f3;
  background: #fff;
  fill: #000;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  fill: #2196f3;
}

.modal-slogan {
  margin-bottom: 12px;
  display: inline-block;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal-label {
  position: relative;
  display: inline-block;
  color: #757575;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.modal-label-geometry {
  margin-bottom: 10px;
}

.modal-input {
  margin-top: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
}

.modal-input-geometry {
  padding-left: 42px;
  margin-top: 10px;
}

.icon-modal {
  position: absolute;
  left: 12px;
  bottom: 11px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #000;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .icon-modal {
  fill: #2196f3;
}

.modal-input-comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  color: #757575;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.modal-label-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  color: #757575;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 10px;
  border: 2px solid #757575;
  border-radius: 4px;
}

.modal-input-agree:checked + .icon-check {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal-link {
  color: #2196f3;
  text-decoration: underline;
}

.modal-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 56px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  background: #2196f3;
}
/*# sourceMappingURL=main.css.map */