@mixin text($color: #000, $weight: normal, $size: 14px, $height: 1.1, $spacing: 0.03em) {
  color: $color;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
  // @include text(#2f303a,);
}

@mixin transition($name: color, $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)) {
  transition-property: $name;
  transition-duration: 250ms;
  transition-timing-function: $transition-timing-function;
  //   @include transition(color);
}

@mixin before-after($display: block, $height: 0px) {
  display: $display;
  height: $height;
  width: 100%;
  content: '';
  position: absolute;
  //   @include before-after();
}

@mixin btn($box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), $radius: 4px, $border: 0px, $background: #2196f3) {
  box-shadow: $box-shadow;
  border-radius: $radius;
  border: $border;
  background: $background;
  //   @include btn();
}

@mixin social-link($color: #000, $height: 100%, $width: 100%, $radius: 50%) {
  color: $color;
  height: $height;
  width: $width;
  border-radius: $radius;
  display: flex;
  justify-content: center;
  align-items: center;

  //   @include social-link();
}
