.customers__title {
  margin-bottom: 30px;
  @include text(#212121, 700, 28px, 1.2);
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  align-items: center;
}
.customers-list__item {
  height: 92px;
  flex-basis: calc(100% / 2 - 30px);
  margin: 30px 0 0 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}
.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #000;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition: border $duration $timing-function, fill $duration $timing-function;

  &:hover,
  &:focus {
    border-color: #2196f3;
    fill: #2196f3;
  }
}
