.social-list {
  display: flex;
  justify-content: center;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  color: #afb1b8;
  border-radius: 50%;
  transition: color $duration $timing-function, background-color $duration $timing-function;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #2196f3;
  }
}
.icon__social-list {
  fill: currentColor;
}
