.contacts-list {
  display: flex;
}
.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}
.contacts-list__link {
  display: flex;
  align-items: center;
  @include text(#757575, 500, $spacing: 0.02em);
  @include transition();

  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.icon__header {
  fill: currentColor;
  margin-right: 10px;
}
