.our-team-section {
  background-color: $light-gray-background-color;
}
.our-team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-red-color;
  margin-bottom: 50px;
}
.our-team {
  display: flex;
}
.our-team-item:not(:last-child) {
  margin-right: 30px;
}
.our-team-item-div {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 30px 0;
}
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-red-color;
  margin-bottom: 10px;
}
.our-team-text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-gray-color;
  margin-bottom: 16px;
}

.our-team-social-networks-list {
  display: flex;
  justify-content: center;
}
.our-team-social-networks-item:not(:last-child) {
  margin-right: 10px;
}
.our-team-social-networks-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: background-color $transition-times $cubic-bezier, color $transition-times $cubic-bezier;
}
.our-team-social-networks-link:hover,
.our-team-social-networks-link:focus {
  background-color: $blue-color;
  color: #fff;
}
.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  fill: currentColor;
}