.address {
  margin-top: 20px;
  font-style: normal;
  @include text(#fff, $height: 1.7);
}
.address__item:not(:first-child) {
  margin-top: 9px;
}
.address__link {
  color: rgba(255, 255, 255, 0.6);
  @include transition();

  &:hover,
  &:focus {
    color: $blue-color;
  }
}
