.socials-container {
  margin-left: 70px;
}
.socials-container__title {
  @include text(#fff, 700, $height: 0.9);
  text-transform: uppercase;
}
.socials-list {
  display: flex;
  margin-top: 20px;
}
.socials-list__item {
  width: 44px;
  height: 44px;
  &:not(:first-child) {
    margin-left: 10px;
  }
}
.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background: rgba(255, 255, 255, 0.1);
  fill: #fff;
  border-radius: 50%;
  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
