.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.projects-item {
  margin: 30px 0 0 30px;

  .projects > & {
    flex-basis: calc(100% / 3 - 30px);
  }
}
.projects-link {
  display: block;
  background: #ffffff;

  &:hover,
  &:focus {
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.projects-img {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 64px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  @include transition(transform, ease);

  .projects-link:hover &,
  .projects-link:focus & {
    transform: translateY(0);
  }
}
.overlay-text {
  @include text(#fff, $size: 18px, $height: 1.6);
}
.projects-desc {
  padding: 20px 24px;
  box-sizing: border-box;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.projects-title {
  margin-bottom: 4px;
  @include text(#212121, 700, 18px, 2, 0.06em);
}
.projects-text {
  @include text(#757575, $size: 16px, $height: 1.9);
}
