.place-for-photo {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 64px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  @include transition(transform, ease);
}
.grid-list__link:hover .overlay,
.grid-list__link:focus .overlay {
  transform: translateY(0);
}
.overlay__text {
  @include text(#fff, $size: 18px, $height: 1.6);
}
.desc {
  padding: 20px 24px;
  box-sizing: border-box;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.desc__title {
  margin-bottom: 4px;
  @include text(#212121, 700, 18px, 2, 0.06em);
}
.desc__text {
  @include text(#757575, $size: 16px, $height: 1.9);
}
