h1,
h2,
h3,
h4,
h5,
h6,
body,
ul,
input,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: $principal-font;
  background-color: #fff;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}
.section {
  padding: 94px 0;
}
.btn-cursor {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
